@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


.scrollbar::-webkit-scrollbar {
  
    width: 8px;
  }
  
  
  .scrollbar::-webkit-scrollbar-thumb {
    background: rgba(255,255,255,0.4);
    border-radius: 4px;
  
  }
  
  .scrollbar::-webkit-scrollbar-thumb:active {
    background-color:  rgba(255,255,255,0.4);;
  
  }
  
  .scrollbar::-webkit-scrollbar-thumb:hover {
    box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.4);
  }
  
  /* Estilos track de scroll */
  .scrollbar::-webkit-scrollbar-track {
    background: rgba(255,255,255,0.2);
    border-radius: 5px;
    display: none;
  }
  
  .scrollbar::-webkit-scrollbar-track:hover,
  .scrollbar::-webkit-scrollbar-track:active {
    background: rgba(255,255,255,0.2);
    display: block;
  }